<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>パスワード変更画面</title>
  </head>
  <body>
    <p>パスワード変更画面</p>
    <p>ログインユーザー：<%- userId %>さん</p>
    <form action="/change" method="POST">
      新しいパスワード:<input name="password" type="password" />
      <br />
      <input type="submit" value="パスワード変更" />
    </form>
  </body>
</html>
