<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ログイン画面</title>
  </head>
  <body>
    <p>ログイン画面</p>
    <form action="/authorize" method="POST">
      ユーザーID:<input name="userId" type="input" />
      <br />
      パスワード:<input name="password" type="password" />
      <br />
      <input type="submit" value="ログイン" />
    </form>
  </body>
</html>
