<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>パスワード変更完了画面</title>
  </head>
  <body>
    <p>パスワード変更完了画面</p>
    <p>ログインユーザー：<%- userId %>さん</p>
    <p>パスワードを<%- password %>に変更しました</p>
  </body>
</html>
